#these envs are used in docker-compose.yaml commands and should match those used in the app configuration files
DATABASE_URL="postgresql://clusterix:super-strong-db-password@db:5432/clusterix?schema=public"
POSTGRES_DB=clusterix
POSTGRES_USER=clusterix
POSTGRES_PASSWORD=super-strong-db-password

REDIS_PASSWORD=replace-with-strong-prod-redis-password