DATABASE_URL="postgresql://USER:PASSWORD@db-host:5432/clusterix?schema=public"
POSTGRES_DB=clusterix
POSTGRES_USER=clusterix
POSTGRES_PASSWORD=super-strong-db-password
BETTER_AUTH_SECRET=replace-with-prod-secret-at-least-32-chars
BETTER_AUTH_URL=http://localhost:8080
FRONTEND_ORIGIN=http://localhost:8080
HOST=0.0.0.0
PORT=3000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=replace-with-strong-prod-redis-password
NEWS_API_KEY=5306d19fa92c4dfa997edd90bf44b5ea
GUARDIAN_API_KEY=6da603d1-8d9d-4c4d-848e-2ae7c965e12b
NYT_API_KEY=UL4VoyxqPe9KWvKFEtXS6i2a7cviIdFO
